
@media only screen and (max-width: 1872px) {
  /* ------------------header---------------- */

  .logo {
    width: 3cm;
    height: 3cm;
  }
  #in-ses-reg {
    margin-left: 850px;
    margin-bottom: 15px;
  }

  #titulo {
    margin-bottom: 18px;
  }

  /* ------------------body--------------- */

  /*-------------------footer ------------------------*/
  .footer {
    background-color: rgb(183, 36, 36);
    margin-top: 500px;
    height: 8.2cm;
    color: white;
    display: flex;
  }

  #redes {
    margin-left: 250px;
  }

  #contacto {
    margin-left: 180px;
  }

  #medios-pago {
    margin-left: 140px;
  }
  #envio {
    margin-left: 190px;
  }

  #mp-logo {
    height: 80pxpx;
    width: 150px;
    margin-left: 20px;
  }
  #visa-logo {
    height: 80px;
    width: 150px;
    margin-left: 20px;
    margin-bottom: 0.1px;
    display: table-column;
  }
  #paypal-logo {
    height: 80px;
    width: 150px;
    margin-left: 20px;
    margin-bottom: 10px;
    /* border: solid black; */
  }
  #correo-logo {
    height: 80px;
    width: 200px;
  }
  #oca-logo {
    height: 80px;
    width: 200px;
    display: table-column;
    margin-top: 0.3cm;
  }
  #andreani-logo {
    height: 80px;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 0.1px;
  }
}

@media only screen and (max-width: 1488px) {
  /* ------------------header---------------- */
  .logo {
    width: 3cm;
    height: 3cm;
  }
  #in-ses-reg {
    margin-left: 490px;
    margin-bottom: 15px;
  }

  #titulo {
    margin-bottom: 18px;
  }

  /* ------------------body-------------------------- */
  #carrusel{
   width: 15cm;
   
  

  }
#texto{
  margin-left: 20cm;
  /* border: solid black; */
}

  

  /*-------------------footer ------------------------*/
  .footer {
    background-color: rgb(183, 36, 36);
    /* margin-top: 500px; */
    /* height: 8.2cm; */
    color: white;
    display: flex;
  }

  #redes {
  margin-left: 50px;
  }

  #contacto {
    margin-left: 130px;
  }

  #medios-pago {
    margin-left: 130px;
  }
  #envio {
    margin-left: 160px;
  }

  #mp-logo {
    height: 80px;
    /* width: 150px; */
    margin-left: 20px;
  }
  #visa-logo {
    height: 80px;
    /* width: 150px; */
    margin-left: 20px;
    margin-bottom: 0.1px;
    display: table-column;
  }
  #paypal-logo {
    height: 80px;
    /* width: 150px; */
    margin-left: 20px;
    margin-bottom: 2px;
     border: solid black;
  }
  #correo-logo {
    height: 80px;
    /* width: 200px; */
  }
  #oca-logo {
    height: 80px;
    /* width: 200px; */
    display: table-column;
    margin-top: 0.3cm;
  }
  #andreani-logo {
    height: 80px;
    /* width: 200px; */
    margin-left: 20px;
    margin-bottom: 0.1px;
  } 
}
